@font-face {
  font-family: "Hoves300";
  src: url("../fonts/TTHoves-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Hoves400";
  src: url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Hoves700";
  src: url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}